@font-face {
    font-family: "Poppins";
    src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-size: normal;
    font-display: swap;
}


@font-face {
    font-family: "Poppins";
    src: url("Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body, form, .head, .form-info{
    display: flex;
}

body {
    height: 100vh;
}

.form-wrapper {
    width: 70%;
}

form, .head {
    flex-direction: column;
}

form {
    height: 100%;
}

.logo-img {
    width: 30%;
}

.logo-img > img{
    width: 100%;
    height: 100%;
}

.head {
    font-weight: bold;
    font-size: 19px;
    justify-content: flex-end;     
}

.head, .form, .submit {
    padding: 22px 40px;
}

.head, .submit {
    background-color: #f1f1f1;
    height: 40%;
}

form input {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: .1rem .6rem;
    
}

.form-info {
    gap: 100px;
}

.italic {
    display: inline-block;
    font-style: italic;
    padding-right: 2.7px;
}

.form-info label {
    text-transform: uppercase;
    font-size: .9rem;
}

.input-wrapper input:invalid {
    border-color: #ff0000;
}

.submit {
    box-shadow: inset black 0rem .2rem .4rem;
}

.submit button {
    text-transform: capitalize;
    width: 11rem;
    padding: .2rem;
    color: #fff;
    background-color: #005100;
    border: 1px solid;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.login-text {
    color: #005100;
}